@font-face {
    font-family: "fredokaOneRegular";
    src: url("FredokaOne-Regular.ttf") format("truetype");
}

.fechaPoblacion {
    float: right;
}

a {
    text-decoration: none !important;
}

.alert-info:hover {
    background-color: #85a8ae;
}

.alert-warning:hover {
    background-color: orange;
}

.alert-danger:hover {
    background-color: #ab81ad;
}

.fechaTexto {
    float: right;
}

#mensajeBackOffice {
    font-family: fredokaOneRegular;
    color: purple;
}

#nombreUsuario {
    color: #ffa8ec;
}

.barraBackOfficeLoggin {
    text-align: right;
}