@font-face {
    font-family: "fredokaOneRegular";
    src: url("FredokaOne-Regular.ttf") format("truetype");
}

.fechaPoblacion {
    float: right;
}

a {
    text-decoration: none !important;
}

.alert-info:hover {
    background-color: #85a8ae;
}

.alert-warning:hover {
    background-color: orange;
}

.alert-danger:hover {
    background-color: #ab81ad;
}

.fechaTexto {
    float: right;
}

#mensajeBackOffice, #mensajeBienvenida {
    font-family: fredokaOneRegular;
    color: purple;
}

#nombreUsuario, #nombreAplicacion {
    color: #ffa8ec;
}

.barraBackOfficeLoggin {
    text-align: right;
}

.fotoPrincipal {
    width: 100%;
}

span.loggin {
    color: white;
    padding-right: 10px;

}

.mensajes {
     color : green;
 }

.errores {
    color : red;
}