.fechaPoblacion {
    float: right;
}

a {
    text-decoration: none !important;
}

.alert-info:hover {
    background-color: #85a8ae;
}

.alert-warning:hover {
    background-color: orange;
}

.alert-danger:hover {
    background-color: #ab81ad;
}

.fechaTexto {
    float: right;
}